.container {
  width: 134px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  border: 1px solid var(--grey5);
  border-radius: 7px;
  width: 100%;
  transition: all .3s ease;
}

.buttonDesc {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: var(--grey2);
  background-color: var(--white);
  text-align: start;
  transition: all .3s ease;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.button:hover {
  border: 1px solid var(--primary);
  background-color: rgba(160, 195, 255, 0.10);
  outline: none;
}

.button:active {
  border: 1px solid var(--primary);
  background-color: rgba(160, 195, 255, 0.10);
  outline: none;
}

.button:focus {
  border: 1px solid var(--primary);
  background-color: rgba(160, 195, 255, 0.10);
  outline: none;
}
