.table {
  width: 100%;
}

.titlesRow {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-radius: 15px;
  background-color: var(--primary);
}

.title {
  width: 200px;
  font-family: 'Ubuntu', serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--white);
  text-align: left;
}

.contentRows {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-bottom: 2px solid rgba(0, 82, 255, 0.10);
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  font-family: 'Ubuntu', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: var(--grey2);
}

.positiveAmount {
  color: var(--success);
}

.negativeAmount {
  color: var(--secondary4);
}
