.container {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 80px 50px;
  border-radius: 50px;
  background-color: var(--background);
}

/*------------------------------------- 576 PX ------------------------------------*/
@media (max-width: 576px) {
  .container {
    padding: 30px 30px 50px 30px;
  }
}
