.container {
  display: grid;
  grid-template-columns: 587px 1fr;
  grid-template-rows: 273px 1fr;
  gap: 44px 50px;
}

/*------------------------------------- 1200 PX ------------------------------------*/
@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 273px 1fr auto;
    gap: 44px 50px;
  }
}

/*------------------------------------- 768 PX ------------------------------------*/
@media (max-width: 768px) {
  .container {
    grid-template-rows: 280px 1fr auto;
  }
}
