.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 auto;
  width: 200px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.number {
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

/*------------------------------------- 576 PX ------------------------------------*/
@media (max-width: 576px) {
  .balance {
    width: 150px;
    font-size: 16px;
  }

  .number {
    font-size: 16px;
  }
}
