.container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  max-width: 205px;
}

.transaction {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.26px;
}

.date {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  border-radius: 7px;
  background-color: var(--primary);
  cursor: pointer;
  transition: all .3s ease;
}

.link:hover {
  background-color: var(--white);
  outline: 1px solid var(--primary);
}

.link:hover .desc {
  color: var(--primary);
}

.link:active {
  background-color: var(--primary);
  outline: none;
}

.link:active .desc {
  color: var(--white);
}

.link:focus {
  background-color: var(--white);
  outline: 1px solid var(--primary);
}

.link:focus .desc {
  color: var(--primary);
}

.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  color: var(--white);
}

/*------------------------------------- 1200 PX ------------------------------------*/
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .container:last-child {
    margin: auto 0 0 0;
  }

  .details {
    margin: 0 0 20px 0;
  }

  .link {
    margin: auto 0 0 0;
  }
}

/*------------------------------------- 576 PX ------------------------------------*/
@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .details {
    margin: 0 auto 0 0;
  }

  .transaction {
    font-size: 10px;
  }

  .link {
    padding: 12px 20px;
  }
}
