.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .25));
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  padding: 26px 52px;
  margin: 0 auto;
  max-width: 1440px;
}

.divider {
  margin: 0 0 20px 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary3);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.link {
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  color: var(--white);
  cursor: pointer;
  transition: all .3s ease;
}

/*------------------------------------- 768 PX ------------------------------------*/
@media (max-width: 768px) {
  .container {
    padding: 26px 20px;
  }
}

/*------------------------------------- 576 PX ------------------------------------*/
@media (max-width: 576px) {
  .menu {
    padding: 26px 20px;
  }
}
