.button {
  display: flex;
  align-items: center;
  position: relative;
  left: 205px;
  padding: 14px 25px;
  margin: 0;
  border-radius: 7px;
  background-color: var(--primary);
  cursor: pointer;
}

.desc {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  color: var(--white);
}
