.table {
  width: 100%;
}

.titlesRow {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-radius: 15px;
  background-color: var(--primary);
}

.title {
  font-family: 'Ubuntu', serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--white);
  text-align: left;
}

.titleOne {
  width: 210px;
}

.titleTwo {
  width: 230px;
}

.titleThree {
  width: 185px;
}

.contentRows {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-bottom: 2px solid rgba(0, 82, 255, 0.10);
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: 'Ubuntu', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: var(--grey2);
  overflow: hidden;
}

.contentOne {
  width: 210px;
}

.contentTwo {
  width: 230px;
}

.contentThree {
  width: 185px
}

.positiveAmount {
  color: var(--success);
}

.negativeAmount {
  color: var(--secondary4);
}

/*------------------------------------- 992 PX ------------------------------------*/
@media (max-width: 992px) {
  .titlesRow {
    padding: 12px 20px;
  }

  .title {
    font-size: 16px;
  }

  .titleOne,
  .titleTwo {
    width: 180px;
  }

  .titleThree {
    width: 120px;
  }

  .contentRows {
    padding: 12px 20px;
  }

  .content {
    font-size: 14px;
  }

  .contentOne,
  .contentTwo {
    width: 180px;
  }

  .contentThree {
    width: 120px;
  }
}

/*------------------------------------- 768 PX ------------------------------------*/
@media (max-width: 768px) {
  .title {
    font-size: 14px;
  }

  .titleOne,
  .titleTwo {
    width: 140px;
  }

  .titleThree {
    width: 80px;
  }

  .content {
    font-size: 12px;
  }

  .contentOne,
  .contentTwo {
    width: 140px;
  }

  .contentThree {
    width: 80px;
  }
}
