.container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  padding: 25px 50px 66px 50px;
  border-radius: 50px;
  background-color: var(--grey7);
  text-decoration: none;
  transition: all .3s ease;
}

.container:hover {
  transform: scale(1.05);
}

.container:active {
  transform: scale(1.05);
}

.container:focus {
  transform: scale(1.05);
}

/*------------------------------------- 992 PX ------------------------------------*/
@media (max-width: 992px) {
  .container {
    grid-column: auto;
    padding: 25px 30px 50px 30px;
  }
}
